<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Timesheet | Approved Timesheets</title>
<link rel="stylesheet" type="text/css" href="myStyles.css" />
<link rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
<link rel="stylesheet"
   href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
</head>

<!-- HEADER -->

<body>
   <section class="hero is-dark">
      <div class="hero-head">
         <nav class="navbar">
            <div class="container">
               <div class="navbar-brand">
                  <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                     <span></span> <span></span> <span></span>
                  </span>
               </div>
               <div id="navbarMenuHeroB" class="navbar-menu">
                  <div class="navbar-end">
                     <a class="navbar-item is-active" href="/dashboard"> <span
                        class="icon"><i class="fas fa-home"></i></span> <span>Dashboard</span>
                     </a> <a class="navbar-item" href="/account"> <span class="icon"><i
                           class="fas fa-user-circle"></i></span> <span>Account</span>
                     </a> <a class="navbar-item" href="/help"> <span class="icon"><i
                           class="fas fa-question-circle"></i></span> <span>Help</span>
                     </a> <span class="navbar-item"> <a
                        class="button is-info is-inverted" href="/login?logout"> <span
                           class="icon"> <i class="fas fa-sign-out-alt"></i>
                        </span> <span>Sign out</span>
                     </a>
                     </span>
                  </div>
               </div>
            </div>
         </nav>
      </div>
      <div class="hero-body">
         <div class="container has-text-centered">
            <p class="title">Timesheet App Manager</p>
            <p class="subtitle">Create. Edit. Submit.</p>
         </div>
      </div>
   </section>

   <!-- END OF HEADER -->

   <!-- BODY -->
   <section class="section">
      <div class="container">
         <h1 class="title">Approved Timesheets</h1>
         <h2 class="subtitle">Here are Timesheets you've approved.</h2>
      </div>
   </section>
   <section class="section">
      <div class="container" th:if="${#lists.isEmpty(timesheets)}">
         <span><strong> No Timesheets approved </strong></span>
      </div>
      <div class="container" th:if="${not #lists.isEmpty(timesheets)}">
      
         <!-- Display User's Timesheets -->
         <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
               <tr>
                  <th>Start Date</th>
                  <th>Date Submitted</th>
                  <th>TimesheetId</th>
                  <th>Hours</th>
                  <th>Approved</th>
                  <th><i class="fas fa-lg fa-info-circle"></i></th>     
               </tr>
            </thead>
            <tbody>
               <tr th:each="timesheet: ${timesheets}">
                  <td th:text="${timesheet.startDate}">
                  <td th:text="${timesheet.dateSubmitted}">
                  <td th:text="${timesheet.timesheetId}">               
                  <td th:text="${#numbers.formatDecimal(timesheet.totalHours,1,1,'POINT')}">
                  <td>
                     <span th:if="${timesheet.approved == true}"> Yes</span> 
                     <span th:if="${timesheet.approved == false}"> No </span>
                  </td>
                  <td>
                     <a class="button is-info" th:href="@{/manager/review-timesheet/} + ${timesheet.timesheetId}">
                        <span> View </span>
                     </a>
                  </td>
               </tr>
            </tbody>

         </table>
      </div>
   </section>

   <!-- END OF BODY -->

   <!-- FOOTER -->
   
    <section class="section">
        <footer class="myfooter">
            <div class="content has-text-centered">
                <p>
                    Built with <i class="fas fa-heart"></i> by 
                    <strong> <a href="https://github.com/moa38">moa38</a> </strong>.
                </p>
            </div>
        </footer>
    </section>

</body>

</html>