<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Timesheet | Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
</head>

<!-- HEADER -->

<body>
    <section class="hero is-dark">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroB" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" href="/dashboard">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                <span>Dashboard</span>
                            </a>
                            <a class="navbar-item" href="/account">
                                <span class="icon"><i class="fas fa-user-circle"></i></span>
                                <span>Account</span>
                            </a>
                            <a class="navbar-item" href="/help">
                                <span class="icon"><i class="fas fa-question-circle"></i></span>
                                <span>Help</span>
                            </a>
                            <span class="navbar-item">
                                <a class="button is-info is-inverted" href="/login?logout">
                                    <span class="icon">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                    <span>Sign out</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    Timesheet App
                </p>
                <p class="subtitle">
                    Create. Edit. Submit.
                </p>
            </div>
        </div>
    </section>

    <!-- END OF HEADER -->

    <!-- BODY -->

    <section class="section">
        <div class="container">
            <h3 class="title">Hi, <td th:text="${name}"></td>! </h3>
            <h2 class="subtitle">
                This is your dashboard.
            </h2>
            <div class="tile is-ancestor has-text-centered ">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Create Timesheet</p>
                        <p class="subtitle">Make a new timesheet</p>
                        <div class="content">
                            <figure>
                                <a href="/user/add-timesheet" class="image has-text-info">
                                    <i class="far fa-plus-square fa-10x"></i>
                                </a>
                            </figure>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">View Timesheets</p>
                        <p class="subtitle">View your created Timesheets</p>
                        <div class="content">
                            <figure>
                                <a href="/user/view-all-timesheets" class="image has-text-warning">
                                    <i class="far fa-edit fa-10x"></i>
                                </a>
                            </figure>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Submitted Timesheets</p>
                        <p class="subtitle">View Submitted Timesheets</p>
                        <div class="content">
                            <figure>
                                <a href="/user/submitted-timesheets" class="image has-text-success">
                                    <i class="far fa-check-square fa-10x"></i>
                                </a>
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">This week's timesheet</h1>
            <h2 class="subtitle">
                A handy graph to visualise your work patterns.
            </h2>
            <canvas id="bar-chart" width="800" height="450"></canvas>
            <script>
                // Bar chart
                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"],
                        datasets: [
                            {
                                label: "Hours", 
                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#f49542", "#c45850", "#ffdb2b", "#dfe72b"],
                                data: [8, 7, 6, 10, 8, 3, 0]
                            }
                        ]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: false
                        }
                    }
                });
            </script>
    </section>

    <!-- END OF BODY -->

    <!-- FOOTER -->

    <section class=section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Built with <i class="fas fa-heart"></i> by <strong> <a href="https://github.com/moa38">moa38</a> </strong>.
                </p>
            </div>
        </footer>
    </section>
</body>

</html>