<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Timesheet | Edit Timesheet</title>
<link rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
<link rel="stylesheet"
   href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<link rel="stylesheet" type="text/css"
   href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
<script
   src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script
   src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>

<!-- TUI GRID
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script> -->
</head>

<!-- HEADER -->

<body>
   <section class="hero is-dark">
      <div class="hero-head">
         <nav class="navbar">
            <div class="container">
               <div class="navbar-brand">
                  <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                     <span></span> <span></span> <span></span>
                  </span>
               </div>
               <div id="navbarMenuHeroB" class="navbar-menu">
                  <div class="navbar-end">
                     <a class="navbar-item is-active" href="/dashboard"> 
                       <span class="icon"><i class="fas fa-home"></i></span> 
                       <span>Dashboard</span>
                     </a> 
                     <a class="navbar-item" href="/account"> 
                       <span class="icon"> <i class="fas fa-user-circle"></i></span> 
                       <span>Account</span>
                     </a> 
                     <a class="navbar-item" href="/help"> 
                       <span class="icon"><i class="fas fa-question-circle"></i></span> 
                       <span>Help</span>
                     </a> <span class="navbar-item"> 
                     <a class="button is-info is-inverted" href="/login?logout"> 
                       <span class="icon"> <i class="fas fa-sign-out-alt"></i> </span> 
                       <span>Sign out</span>
                     </a>
                     </span>
                  </div>
               </div>
            </div>
         </nav>
      </div>
      <div class="hero-body">
         <div class="container has-text-centered">
            <p class="title">Timesheet App</p>
            <p class="subtitle">Create. Edit. Submit.</p>
         </div>
      </div>
   </section>

   <!-- END OF HEADER -->

   <!-- BODY -->

   <section class="section">
      <div class="container">
         <h1 class="title">Edit Timesheet</h1>
         <h2 class="subtitle">Update your selected Timesheet.</h2>
      </div>
   </section>

   <section class="section">
      <div class="container">
         <table class="table is-striped is-hoverable is-fullwidth">
            <form th:object="${shifts}" th:action="@{/updateTimesheet}" method="post">
            <thead>
               <tr>
                  <th>Day</th>
                  <th>Date</th>
                  <th>ShiftId</th>
                  <th>Day Start Time</th>
                  <th>Day End Time</th>
               </tr>
            </thead>
            <tbody>
               <tr th:each="shift,i : *{shifts}">
                  <td>
                     <span th:if="${i.index == 0}">Monday</span>
                     <span th:if="${i.index == 1}">Tuesday</span>
                     <span th:if="${i.index == 2}">Wednesday</span>
                     <span th:if="${i.index == 3}">Thursday</span>
                     <span th:if="${i.index == 4}">Friday</span>
                  </td>       
                  <td>
                     <div class="control">
                        <input class="input" type="date" th:field="*{shifts[__${i.index}__].shiftDate}" min="2018-03-18" max="2025-12-31">
                        <span th:if="${#fields.hasErrors('shifts[__${i.index}__].shiftDate')}" th:errors="*{shifts[__${i.index}__].shiftDate}"></span>
                     </div>
                  </td>
                  <td th:text="${i.index}"></td>
                  <td>
                     <div class="control">
                        <input type="time" class="input" th:field="*{shifts[__${i.index}__].startTime}" step="60">
                        <span th:if="${#fields.hasErrors('shifts[__${i.index}__].startTime')}" th:errors="*{shifts[__${i.index}__].startTime}"></span>
                     </div>
                  </td>
                  <td>
                     <div class="control">
                        <input type="time" class="input" th:field="*{shifts[__${i.index}__].endTime}" step="60">
                        <span th:if="${#fields.hasErrors('shifts[__${i.index}__].endTime')}" th:errors="*{shifts[__${i.index}__].endTime}"></span>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
         <td>
            <div class="field has-addons" style="float: right;">
               <p class="control">
                  <button class="button is-link" type="submit" name="action" value="update">Save changes</button>
               </p>
               <p class="control">
                  <button class="button is-success" type="submit" name="action" value="submit">Submit</button>
               </p>
            </div>
         </td>
         </form>
      </div>
   </section>


   <!-- END OF BODY -->

   <!-- FOOTER -->

   <section class=section>
      <footer class="footer">
         <div class="content has-text-centered">
            <p>
               Built with <i class="fas fa-heart"></i> by <strong> <a href="https://github.com/moa38">moa38</a> </strong>.
            </p>
         </div>
      </footer>
   </section>

</body>

</html>