<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Timesheet | Login</title>
<link rel="stylesheet" type="text/css" href="myStyles.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
</head>

<!-- HEADER -->

<body>
	<section class="hero is-dark">
		<div class="hero-head">
			<nav class="navbar">
				<div class="container">
					<div class="navbar-brand">
					    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
					    <span></span>
					    <span></span>
					    <span></span>
						</span>
					</div>
					<div id="navbarMenuHeroB" class="navbar-menu">
						<div class="navbar-end">
							<a class="navbar-item" href="#"> <span class="icon"><i
									class="fas fa-question-circle"></i></span> <span>Help</span>
							</a> <span class="navbar-item"> <a
								class="button is-info is-inverted" href="./login"> <span
									class="icon"> <i class="fas fa-sign-in-alt"></i>
								</span> <span>Sign in</span>
							</a>
							</span>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<p class="title">Timesheet App</p>
				<p class="subtitle">Create. Edit. Submit.</p>
			</div>
		</div>
	</section>

	<!-- END OF HEADER -->

	<!-- BODY -->

	<section class="section">
		<div class="container  has-text-centered">
			<h1 class="title">Welcome</h1>
			<h2 class="subtitle">Please sign in</h2>
			<div class="columns">
				<div class="column is-half is-offset-one-quarter">
					<div class="box">		
					   <form th:action="@{/j_spring_security_check}" method='POST'>	
						<!-- form th:action="@{/login}" method="post"-->
						   <div class="field">
                     <br>
                        <div class="notification is-danger" th:if="${param.error}">
                           Error! Incorrect login details.
                        </div>
                        <div class="notification is-warning" th:if="${param.logout}">
                           You are now logged out. Goodbye!
                        </div>
                     </div>
							<div class="field">
								<span>
									<p class="subtitle is-4">Username</p>
								</span>
								<p class="control has-icons-left">
									<input class="input is-large" name="username" type="text" id="username" placeholder="Username" autofocus="">
									<span class="icon is-small is-left"> <i class="fas fa-user"></i> </span>
								</p>
							</div>
							<div class="field">
								<span>
									<p class="subtitle is-4">Password</p>
								</span>
								<p class="control has-icons-left">
									<input class="input is-large" name="password" type="password" id="password" placeholder="Password">
									   <span class="icon is-small is-left"> <i class="fas fa-lock"></i> </span>
								</p>
							</div>
							<input class="button is-block is-info is-large is-fullwidth" type="submit" value="Sign In" />
						</form>
					</div>
					<div class="columns">
						<div class="column">
							<a href="#">Forgot password?</a>
						</div>
						<div class="column">
							<a href="#">Help</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- END OF BODY -->

	<!-- FOOTER -->
   
    <section class="section">
        <footer class="myfooter">
            <div class="content has-text-centered">
                <p>
                    Built with <i class="fas fa-heart"></i> by 
                    <strong> <a href="https://github.com/moa38">moa38</a> </strong>.
                </p>
            </div>
        </footer>
    </section>
    
</body>

</html>