<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FDM | Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/login.css"> -->
</head>

<body style="font-family: Arial;">
    <section class="hero is-success is-fullheight has-background-black">
        <img alt="FDM LOGO" src="/static/fdm.gif" height="384" width="384">
        <div class="hero-body">
            <div class="container has-text-centered" style="position: absolute; top:128px; left: 0; right: 0;">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">Timesheet Submission</h3>
                    <!--<p class="subtitle has-text-white">Please login to proceed</p> -->
                    <div class="box">
                        <figure class="avatar">

                        </figure>
                        <form th:action="@{/login}" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" name="username" type="text" placeholder="Username"
                                        autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" name="password" type="password"
                                        placeholder="Password">
                                </div>
                            </div>
                            <input class="button is-block is-info is-large is-fullwidth" type="submit"
                                value="Sign In" />
                        </form>

                        <div class="field">
                            <br>
                            <div class="notification is-danger" th:if="${param.error}">
                                Error! Wrong incorrect login details.
                            </div>

                            <div class="notification is-warning" th:if="${param.logout}">
                                You are now logged out. Goodbye!
                            </div>
                        </div>
                    </div>
                    <p class="has-text-grey">
                        <a href="#">Sign Up</a> &nbsp;·&nbsp;
                        <a href="#">Forgot Password</a> &nbsp;·&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

<!-- source: https://dansup.github.io/bulma-templates/ -->